#two-links{
  display: flex;
  justify-content: center;
  align-items: center;
}
#second-link{
  margin-left: 30px;
}

/* PORTRAIT */
@media only screen and (orientation:portrait){
  #two-links{
    display: block;
  }
  #first-link{
    margin: 10px auto 10px auto;
    padding:0;
  }
  #second-link{
    margin:0;
    padding:0;
  }
}

/* SMALL LANDSCAPE */
@media only screen and (max-width: 900px) and (orientation:landscape){
  #two-links{
    display: block;
  }
  #first-link{
    margin: 10px auto 10px auto;
    padding:0;
  }
  #second-link{
    margin:0;
    padding:0;
  }
}
