#menu-button{
  position: fixed;
  right: 0;
  top: 0;
}
#menu-button:after{
  content: '\2807';
  line-height: 40px;
  font-size: 50px;
  color:white;
}
#open-menu{
  position:fixed;
  right:0;
  top:0;
  background-color: black;
}
#open-menu a{
  display: block;
}
#menu-links{
  margin: 40px 20px 20px 20px;
}

/* PORTRAIT */
@media only screen and (orientation:portrait){

  #menu-button:after{
    margin-right: 10px;
    font-size: 30px;
  }
}

/* SMALL LANDSCAPE */
@media only screen and (orientation:landscape) and (max-width : 800px) {
}
