#menu-button{
  position: fixed;
  right: 0;
  top: 0;
}
#menu-button:after{
  content: '\2807';
  line-height: 40px;
  font-size: 50px;
  color:white;
}

#close-menu-button{
  position: fixed;
  right: 0;
  top: 0;
}
#close-menu-button:after{
  content: 'X';
  line-height: 40px;
  margin-right: 10px;
  font-size: 40px;
  color:white;
}

#open-menu{
  position:fixed;
  right:0;
  top:0;
  background-color: #1F1F1F;
  font-size: 20px;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}
#open-menu a{
  display: block;
}
#menu-links{
  margin: 40px 20px 20px 20px;
}
#menu-user{
  padding:2px 0 2px 0;
  margin:0;
  font-size: 24px;
  color:white;
}
.menu-genre-links{
  padding:2px 0 2px 0;
  margin:0;
  font-size: 20px;
  color:white;
}

/* PORTRAIT */
@media only screen and (orientation:portrait){

  #menu-button:after{
    margin-right: 10px;
    font-size: 30px;
  }
  #open-menu{
    font-size: 16px;
  }

}

/* SMALL LANDSCAPE */
@media only screen and (orientation:landscape) and (max-width : 800px) {
}
