#menu-button{
  position: fixed;
  right: 0;
  top: 0;
}
#menu-button:after{
  content: '\2807';
  font-size: 50px;
  color:white;
}
#open-menu{
  position:fixed;
  right:0;
  top:0;
  background-color: black;
}
#open-menu a{
  display: block;
}
#menu-links{
  margin: 40px 20px 20px 20px;
}
