#forgotpassword-createaccount-links{
  display: flex;
  justify-content: center;
  align-items: center;
}
#resetpassword-link{
  color: #778899;
}
#createaccount-link{
  margin-left: 30px;
}
#account-word-style{
  color:#a9a9a9;
}

/* PORTRAIT */
@media only screen and (orientation:portrait){
  #forgotpassword-createaccount-links{
    display: block;
  }
  #resetpassword-link{
    margin: 10px auto 10px auto;
    padding:0;
  }
  #createaccount-link{
    margin:0;
    padding:0;
  }
}

/* SMALL LANDSCAPE */
@media only screen and (max-width: 900px) and (orientation:landscape){
  #forgotpassword-createaccount-links{
    display: block;
  }
  #resetpassword-link{
    margin: 10px auto 10px auto;
    padding:0;
  }
  #createaccount-link{
    margin:0;
    padding:0;
  }
}
