@import url("https://fonts.googleapis.com/css?family=Sigmar+One");

#main-title{
  font-family: 'Sigmar One', cursive;
  margin: 0;
  text-align: center;
}
#trailer-genres-list{
  display:flex;
  margin: 2% 5% 5% 5%;
}
iframe{
  width:38vw;
  height: 21.38vw;
}
#save-button{
  width:20px;
  height:20px;
}
#genre-and-list{
  margin:0 0 0 5%;
}
.genre-links{
  display: inline;
  margin:0 5px 5px 0;
}



/* PORTRAIT */
@media only screen and (orientation:portrait){
  #trailer-genres-list{
    width:90vw;
    height: 50.63vw;
    display:block;
    margin: 2% 0 0 0;
    margin-left: auto;
    margin-right: auto;
  }
  iframe{
    width:90vw;
    height: 50.63vw;
  }
  #title-and-button{
    text-align: center;
  }
  #genre-and-list{
    margin:5% 5% 5% 5%;
  }
}
