/* TrailerPage.js */
#trailer-and-genres-and-list{
  display:flex;
  justify-content: center;
  margin: 7vh 3vw 0 5vw;
}
#genres-and-list{
  margin:0 0 0 5vw;
  width: 42vw;
}
#trailer-page-footer{
  height: 7vh;
}

/* Trailer.js */
iframe{
  width:45vw;
  height: 25.28vw;
}
#title-and-save-button{
  text-align: center;
  margin: 0 0 25px 0;
}
.save-unsave-button{
  font-size: 18px;
  color:#DCDCDC;
}

/* Genres.js */

#genre-and-button{
  align-items: center;
  display:flex;
}
.selected-genre{
  font-size: 40px;
  margin:0;
  line-height: 0.75;
}
#Act{
  font-family: 'Ceviche One', cursive;
  font-size: 55px;
  margin-top: -7px;
}
#Com{
  font-family: 'Luckiest Guy', cursive;
  margin-top: 5px;
}
#Dra{
  font-family: 'Amatic SC', cursive;
  font-size: 45px;
}
#Hor{
  font-family: 'Schoolbell', cursive;
  margin-top: 5px;
}
#Mys{
  font-family: 'Bangers', cursive;
}
#Rom{
  font-family: 'Sophia', cursive;
  margin-top: -5px;
}
#Sci{
  font-family: 'Gugi', cursive;
  font-size: 40px;
}
#back-genres-button{
  display: inline;
  margin-left: 20px;
  width:15px;
  height: 15px;
  border-bottom:1px solid white;
  border-left:1px solid white;
  transform:rotate(45deg);
}
#forward-genres-button{
  display: inline;
  margin-left: 5px;
  width:15px;
  height: 15px;
  border-top:1px solid white;
  border-right:1px solid white;
  transform:rotate(45deg);
}
#desktop-genres-list{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.genre-list-item{
  color: gray;
  font-size: 30px;
  margin: 7px 5px 0 0;
}
#sort-by-wrapper{
  display: flex;
}
.sort-selector{
  margin-right:5px;
  font-size: 16px;
}

/* MovieList.js */
.list-items-wrapper{
  margin-top: 5px;
}
.list-items{
  display:flex;
  flex-flow: wrap;
  padding:5px 5px 5px 0;
}
.list-items p{
  padding: 0;
  margin: 0 5px 0 0;
}
.list-unsave-button button{
  margin-left: 10px;
}

/* PORTRAIT */
@media only screen and (orientation:portrait){
  /* TrailerPage.js */
  #trailer-and-genres-and-list{
    display:inline;
    margin: 0;
  }
  #genres-and-list{
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
  }
  /* Trailer.js */
  iframe{
    width:95vw;
    height: 53.37vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #title-and-save-button{
    text-align: center;
    margin: 0 0 25px 0;
  }
  #trailer-title{
    margin:5px 5vw 5px 5vw;
  }
  .save-unsave-button{
    font-size: 18px;
    color:#DCDCDC;
    margin:0;
  }
  /* Genres.js */
  #main-genres-wrapper{
    text-align: center;
  }
  #genre-and-button{
    display:inline;
    justify-content: center;
  }
  #back-genres-button{
    margin: 10px 0 0 0;
  }
  #forward-genres-button{
    margin: 10px 0 0 5px;
  }
  #desktop-genres-list{
    display:none;
  }
  #sort-by-wrapper{
    justify-content: center;
  }
  /* MovieList.js */
  .list-items{
    justify-content: center;
  }

}

/* SMALL LANDSCAPE */
@media only screen and (max-width: 900px) and (orientation:landscape){
  /* TrailerPage.js */
  #trailer-and-genres-and-list{
    display:inline;
    margin: 0;
  }
  #genres-and-list{
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
  }
  #trailer-page-footer{
    height: 15vh;
  }
  /* Trailer.js */
  iframe{
    width:75vw;
    height: 42.13vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #title-and-save-button{
    text-align: center;
    margin: 0 0 25px 0;
  }
  #trailer-title{
    margin:5px 5vw 5px 5vw;
  }
  .save-unsave-button{
    font-size: 18px;
    color:#DCDCDC;
    margin:0;
  }
  /* Genres.js */
  #main-genres-wrapper{
    text-align: center;
  }
  #genre-and-button{
    display:inline;
    justify-content: center;
  }
  #back-genres-button{
    margin: 10px 0 0 0;
  }
  #forward-genres-button{
    margin: 10px 0 0 5px;
  }
  #desktop-genres-list{
    display:none;
  }
  #sort-by-wrapper{
    justify-content: center;
  }
  /* MovieList.js */
  .list-items{
    justify-content: center;
  }
}
