body {
  background-color: black;
  color: white;
}

a{
  text-decoration: none;
  color:white;
}


@import url("https://fonts.googleapis.com/css?family=Sigmar+One");

#main-title{
  font-family: 'Sigmar One', cursive;
  margin: 0;
  text-align: center;
  color: DodgerBlue;
  margin-left: auto;
  margin-right: auto;
}
