a{
  text-decoration: none;
  color:black;
}

@import url("https://fonts.googleapis.com/css?family=Sigmar+One");

#main-title{
  font-family: 'Sigmar One', cursive;
  margin: 0;
  text-align: center;
}
